services:
  api:
    build:
      context: .
      dockerfile: apps/api/Dockerfile
    container_name: qube-api
    ports:
      - "8080:8080"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
    environment:
      - NODE_ENV=production
    restart: always

  web:
    build:
      context: .
      dockerfile: apps/web/Dockerfile
    container_name: qube-web
    ports:
      - "3000:3000"
    environment:
      - NEXT_PUBLIC_API_URL=http://api:8080
      - CF_API_KEY
    depends_on:
      - api
    restart: always
